<template>
  <div />
  <!-- <a target="_blank" href="https://crimson.report">
    <p>
      <strong>crimson.report</strong>&nbsp;
      <span>Want to do a raid but you're not sure everyone has it?
        Don't wait to ask and check for yourself on crimson.report!</span>
    </p>
    <font-awesome icon="external-link-alt"/>
  </a> -->
</template>

<style lang="scss" scoped>
@import '../assets/variables.scss';

a {
  display: flex;
  padding: 8px;
  margin: 0.5rem 2rem;
  background: $global;
  backdrop-filter: blur(2px);
  align-items: center;
  color: inherit;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
}

.fa-external-link-alt {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

img {
  height: 50px;
}
</style>
