<template>
  <span class="glitch-bloc">
    <p class="invisible-text"><slot /></p>
    <p class="glitchedAnim"><slot /></p>
    <p class="glitchedAnim"><slot /></p>
    <p class="glitchedAnim"><slot /></p>
  </span>
</template>

<style scoped>
.glitch-bloc {
  position: relative;
}
.glitchedAnim,
.invisible-text {
  color: transparent;
}
.glitchedAnim {
  position: absolute;
  top: 0;
  opacity: 0.9;
}
.invisible-text {
  visibility: hidden;
}
.glitchedAnim:nth-child(2) {
  color: #f03e3e;
  animation: skewAnim 3s infinite;
}
.glitchedAnim:nth-child(3) {
  color: #3df0cf;
  animation: glitchAnim2 3s infinite;
}
.glitchedAnim:nth-child(4) {
  color: inherit;
  animation: glitchAnim1 3s infinite;
}

@keyframes glitchAnim1 {
  7% {
    transform: none;
  }
  10% {
    transform: translate(2px, -1px);
  }
  13% {
    transform: none;
  }
  20% {
    transform: none;
  }
  23% {
    transform: translate(-3px, -2px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: translate(1px, -1px);
  }
  46% {
    transform: none;
  }
  65% {
    transform: none;
  }
  68% {
    transform: translate(1px, 1px);
  }
  71% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

@keyframes glitchAnim2 {
  7% {
    transform: none;
  }
  10% {
    transform: translate(-2px, 1px);
  }
  13% {
    transform: none;
  }
  20% {
    transform: none;
  }
  23% {
    transform: translate(3px, 2px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: translate(-2px, 2px);
  }
  46% {
    transform: none;
  }
  65% {
    transform: none;
  }
  68% {
    transform: translate(-2px, 1px);
  }
  71% {
    transform: none;
  }
  100% {
    transform: none;
  }
}

@keyframes skewAnim {
  20% {
    transform: none;
  }
  23% {
    transform: skew(1deg, -2deg) translate(2px, 1px);
  }
  26% {
    transform: none;
  }
  40% {
    transform: none;
  }
  43% {
    transform: skew(2deg, -3deg) translate(-2px, 1px);
  }
  46% {
    transform: none;
  }
  100% {
    transform: none;
  }
}
</style>
