<template>
  <div class="octagon-wrapper">
    <div class="octagon-loader">
      <div class="octagon-container">
        <div class="octagon"></div>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .octagon-wrapper {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 64px;
    width: 64px;
  }

  .octagon-loader {
    position: absolute;
    height: 64px;
    width: 64px;
  }

  .octagon-loader:after,
  .octagon-loader:before {
    content: " ";
    width: 76%;
    height: 76%;
    top: 12%;
    left: 12%;
    border: 1px solid #858585;
    position: absolute;
  }

  .octagon-loader:before {
    -webkit-animation: rotate 7s infinite linear;
    animation: rotate 7s infinite linear;
  }

  .octagon-loader:after {
    -webkit-animation: rotate-counter 7s infinite linear;
    animation: rotate-counter 7s infinite linear;
  }

  .octagon-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    -webkit-transform: rotate(113deg);
    transform: rotate(113deg);
    -webkit-animation: rotate 14s infinite linear;
    animation: rotate 14s infinite linear;
  }

  .octagon {
    height: 100%;
    width: 100%;
    border: 1px solid #858585;
    position: absolute;
    overflow: hidden;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .octagon:after {
    content: " ";
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    margin: -1px 0 0 -1px;
    border: 1px solid #858585;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes rotate-counter {
    0% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }

  @keyframes rotate-counter {
    0% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
</style>
